<div class="containerHeader">
    <div class="logo">
        <div class="sonar-logo" alt="Sonar SA">&nbsp;</div>
    </div>
    <div class="links">
        <a [routerLink]="['/home']" routerLinkActive="activeLink">CUSTOMER MACHINES</a>
        <a [routerLink]="">STANDARD MACHINES</a>
        <a [routerLink]="">DOCUMENTATION</a>
        <a [routerLink]="">ORDERS</a>
        <a [routerLink]="">NEWS</a>
    </div>
    <div class="commands">
        <a [routerLink]=""><i class="fa fa-cog"></i></a>
        <a [routerLink]=""><i class="fa fa-user"></i></a>
        <a [routerLink]=""><i class="fa fa-shopping-cart"></i></a>
    </div>
</div>