<div class="containerLogin">
    <div class="login-image"></div>
    <div class="wrapper">
        <div class="logo">
            <div class="sonar-logo" alt="Sonar SA">&nbsp;</div>
        </div>
        <div class="login-form">
            <input class="login-input" type="text" required placeholder="Login">
            <input class="password-input" type="password" required placeholder="Password">
            <a [routerLink]="" class="forgot-password">Forgot your password?</a>
            <div class="login-btn">
                <button type="button" class="rounded-custom-btn">LOGIN</button>
            </div>
        </div>
        <div class="languages">
            <a [routerLink]="">EN</a>
            <a [routerLink]="">FR</a>
            <a [routerLink]="">IT</a>
            <a [routerLink]="">ES</a>
        </div>
    </div>
</div>