<app-header></app-header>
<div class="containerHome">
    <div class="home-image"></div>
    <div class="flash-news">
        <div class="nav-area">
            <div class="arrow-label">
                <label class="title-news">FLASH NEWS</label>
                <div class="arrows">
                    <a [routerLink]="" class="left-arrow"><i class="fa fa-arrow-left"></i></a>
                    <a [routerLink]="" class="right-arrow"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="btn-date-label">
                <button type="button" class="">Here just hidden text</button>
                <label class="document-label">Shangai</label>
            </div>

            <label class="date-label">01.11.2018</label>
        </div>
        <div class="text-area">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
            <p>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>
        </div>
        <p class="document-area">
            <a [routerLink]="" class="file-label"><i class="fa fa-file-text"></i></a>
            <button type="button" class="">Hidden</button>
            <label class="document-label">Shangai</label>
        </p>
    </div>
    <div class="machines">
        <label class="title">Customer machines</label>
        <div class="list_machines">
            <div class="machine">
                <img src="assets/images/ba1008.jpg">
                <p class="infos">
                    <label class="category">BA 1008</label>
                    <label class="product-id">180128</label>
                    <label class="product-name">Almac machines</label>
                </p>
            </div>
            <hr>
            <div class="machine">
                <img src="assets/images/ct20.jpg">
                <p class="infos">
                    <label class="category">CT 20</label>
                    <label class="product-id">180177</label>
                    <label class="product-name">Almac machines</label>
                </p>
            </div>
            <hr>
            <div class="machine">
                <img src="assets/images/deco20s.png">
                <p class="infos">
                    <label class="category">deco 20S</label>
                    <label class="product-id">180255</label>
                    <label class="product-name">Almac machines</label>
                </p>
            </div>
        </div>
        <button type="button" class="rounded-custom-btn">MORE MACHINES</button>
    </div>
</div>